{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://signer.amazonaws.com/"
        },
        {
            "url": "http://signer.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "You can use Code Signing for Amazon FreeRTOS (AWS Signer) to sign code that you created for any of the IoT devices that Amazon Web Services supports. AWS Signer is integrated with Amazon FreeRTOS, AWS Certificate Manager, and AWS CloudTrail. Amazon FreeRTOS customers can use AWS Signer to sign code images before making them available for microcontrollers. You can use ACM to import third-party certificates to be used by AWS Signer. For general information about using AWS Signer, see the <a href=\"http://docs.aws.amazon.com/signer/latest/developerguide/Welcome.html\">Code Signing for Amazon FreeRTOS Developer Guide</a>.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Signer",
        "version": "2017-08-25",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/signer-2017-08-25.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "signer"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/signer/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/signing-jobs": {
            "get": {
                "description": "Lists all your signing jobs. You can use the <code>maxResults</code> parameter to limit the number of signing jobs that are returned in the response. If additional jobs remain to be listed, AWS Signer returns a <code>nextToken</code> value. Use this value in subsequent calls to <code>ListSigningJobs</code> to fetch the remaining values. You can continue calling <code>ListSigningJobs</code> with your <code>maxResults</code> parameter and with new values that AWS Signer returns in the <code>nextToken</code> parameter until all of your signing jobs have been returned. ",
                "operationId": "ListSigningJobs",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "jobs": {
                                            "description": "A list of your signing jobs.",
                                            "items": {
                                                "description": "Contains information about a signing job.",
                                                "properties": {
                                                    "createdAt": {
                                                        "description": "The date and time that the signing job was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "jobId": {
                                                        "description": "The ID of the signing job.",
                                                        "type": "string"
                                                    },
                                                    "signedObject": {
                                                        "description": "A <code>SignedObject</code> structure that contains information about a signing job's signed code image.",
                                                        "properties": {
                                                            "s3": {
                                                                "description": "The <code>S3SignedObject</code>.",
                                                                "properties": {
                                                                    "bucketName": {
                                                                        "description": "Name of the S3 bucket.",
                                                                        "type": "string"
                                                                    },
                                                                    "key": {
                                                                        "description": "Key name that uniquely identifies a signed code image in your bucket.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "signingMaterial": {
                                                        "description": "A <code>SigningMaterial</code> object that contains the Amazon Resource Name (ARN) of the certificate used for the signing job.",
                                                        "properties": {
                                                            "certificateArn": {
                                                                "description": "The Amazon Resource Name (ARN) of the certificates that is used to sign your code.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "certificateArn"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "source": {
                                                        "description": "A <code>Source</code> that contains information about a signing job's code image source.",
                                                        "properties": {
                                                            "s3": {
                                                                "description": "The <code>S3Source</code> object.",
                                                                "properties": {
                                                                    "bucketName": {
                                                                        "description": "Name of the S3 bucket.",
                                                                        "type": "string"
                                                                    },
                                                                    "key": {
                                                                        "description": "Key name of the bucket object that contains your unsigned code.",
                                                                        "type": "string"
                                                                    },
                                                                    "version": {
                                                                        "description": "Version of your source image in your version enabled S3 bucket.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "bucketName",
                                                                    "key",
                                                                    "version"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "status": {
                                                        "description": "The status of the signing job.",
                                                        "enum": [
                                                            "InProgress",
                                                            "Failed",
                                                            "Succeeded"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "String for specifying the next set of paginated results.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Initiates a signing job to be performed on the code provided. Signing jobs are viewable by the <code>ListSigningJobs</code> operation for two years after they are performed. Note the following requirements: </p> <ul> <li> <p> You must create an Amazon S3 source bucket. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/gsg/CreatingABucket.html\">Create a Bucket</a> in the <i>Amazon S3 Getting Started Guide</i>. </p> </li> <li> <p>Your S3 source bucket must be version enabled.</p> </li> <li> <p>You must create an S3 destination bucket. AWS Signer uses your S3 destination bucket to write your signed code.</p> </li> <li> <p>You specify the name of the source and destination buckets when calling the <code>StartSigningJob</code> operation.</p> </li> <li> <p>You must also specify a request token that identifies your request to AWS Signer. </p> </li> </ul> <p>You can call the <a>DescribeSigningJob</a> and the <a>ListSigningJobs</a> actions after you call <code>StartSigningJob</code>.</p> <p>For a Java example that shows how to use this action, see <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/\">http://docs.aws.amazon.com/acm/latest/userguide/</a> </p>",
                "operationId": "StartSigningJob",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "jobId": {
                                            "description": "The ID of your signing job.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "clientRequestToken": {
                                        "description": "String that identifies the signing request. All calls after the first that use this token return the same response as the first call.",
                                        "type": "string"
                                    },
                                    "destination": {
                                        "description": "The S3 bucket in which to save your signed object. The destination contains the name of your bucket and an optional prefix.",
                                        "properties": {
                                            "s3": {
                                                "description": "The <code>S3Destination</code> object.",
                                                "properties": {
                                                    "bucketName": {
                                                        "description": "Name of the S3 bucket.",
                                                        "type": "string"
                                                    },
                                                    "prefix": {
                                                        "description": "An Amazon S3 prefix that you can use to limit responses to those that begin with the specified prefix.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "profileName": {
                                        "description": "The name of the signing profile.",
                                        "maxLength": 20,
                                        "minLength": 2,
                                        "pattern": "^[a-zA-Z0-9_]{2,}",
                                        "type": "string"
                                    },
                                    "source": {
                                        "description": "The S3 bucket that contains the object to sign or a BLOB that contains your raw code.",
                                        "properties": {
                                            "s3": {
                                                "description": "The <code>S3Source</code> object.",
                                                "properties": {
                                                    "bucketName": {
                                                        "description": "Name of the S3 bucket.",
                                                        "type": "string"
                                                    },
                                                    "key": {
                                                        "description": "Key name of the bucket object that contains your unsigned code.",
                                                        "type": "string"
                                                    },
                                                    "version": {
                                                        "description": "Version of your source image in your version enabled S3 bucket.",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "bucketName",
                                                    "key",
                                                    "version"
                                                ],
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "source",
                                    "destination",
                                    "clientRequestToken"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/signing-jobs/{jobId}": {
            "get": {
                "description": "Returns information about a specific code signing job. You specify the job by using the <code>jobId</code> value that is returned by the <a>StartSigningJob</a> operation. ",
                "operationId": "DescribeSigningJob",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "completedAt": {
                                            "description": "Date and time that the signing job was completed.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "description": "Date and time that the signing job was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "jobId": {
                                            "description": "The ID of the signing job on output.",
                                            "type": "string"
                                        },
                                        "overrides": {
                                            "description": "A list of any overrides that were applied to the signing operation.",
                                            "properties": {
                                                "signingConfiguration": {
                                                    "description": "A signing configuration that overrides the default encryption or hash algorithm of a signing job.",
                                                    "properties": {
                                                        "encryptionAlgorithm": {
                                                            "description": "A specified override of the default encryption algorithm that is used in an AWS Signer job.",
                                                            "enum": [
                                                                "RSA",
                                                                "ECDSA"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "hashAlgorithm": {
                                                            "description": "A specified override of the default hash algorithm that is used in an AWS Signer job.",
                                                            "enum": [
                                                                "SHA1",
                                                                "SHA256"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "platformId": {
                                            "description": "The microcontroller platform to which your signed code image will be distributed.",
                                            "type": "string"
                                        },
                                        "profileName": {
                                            "description": "The name of the profile that initiated the signing operation.",
                                            "maxLength": 20,
                                            "minLength": 2,
                                            "pattern": "^[a-zA-Z0-9_]{2,}",
                                            "type": "string"
                                        },
                                        "requestedBy": {
                                            "description": "The IAM principal that requested the signing job.",
                                            "type": "string"
                                        },
                                        "signedObject": {
                                            "description": "Name of the S3 bucket where the signed code image is saved by AWS Signer.",
                                            "properties": {
                                                "s3": {
                                                    "description": "The <code>S3SignedObject</code>.",
                                                    "properties": {
                                                        "bucketName": {
                                                            "description": "Name of the S3 bucket.",
                                                            "type": "string"
                                                        },
                                                        "key": {
                                                            "description": "Key name that uniquely identifies a signed code image in your bucket.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "signingMaterial": {
                                            "description": "Amazon Resource Name (ARN) of your code signing certificate.",
                                            "properties": {
                                                "certificateArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the certificates that is used to sign your code.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "certificateArn"
                                            ],
                                            "type": "object"
                                        },
                                        "signingParameters": {
                                            "description": "Map of user-assigned key-value pairs used during signing. These values contain any information that you specified for use in your signing job. ",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "source": {
                                            "description": "The object that contains the name of your S3 bucket or your raw code.",
                                            "properties": {
                                                "s3": {
                                                    "description": "The <code>S3Source</code> object.",
                                                    "properties": {
                                                        "bucketName": {
                                                            "description": "Name of the S3 bucket.",
                                                            "type": "string"
                                                        },
                                                        "key": {
                                                            "description": "Key name of the bucket object that contains your unsigned code.",
                                                            "type": "string"
                                                        },
                                                        "version": {
                                                            "description": "Version of your source image in your version enabled S3 bucket.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "bucketName",
                                                        "key",
                                                        "version"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "status": {
                                            "description": "Status of the signing job.",
                                            "enum": [
                                                "InProgress",
                                                "Failed",
                                                "Succeeded"
                                            ],
                                            "type": "string"
                                        },
                                        "statusReason": {
                                            "description": "String value that contains the status reason.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/signing-platforms": {
            "get": {
                "description": "Lists all signing platforms available in AWS Signer that match the request parameters. If additional jobs remain to be listed, AWS Signer returns a <code>nextToken</code> value. Use this value in subsequent calls to <code>ListSigningJobs</code> to fetch the remaining values. You can continue calling <code>ListSigningJobs</code> with your <code>maxResults</code> parameter and with new values that AWS Signer returns in the <code>nextToken</code> parameter until all of your signing jobs have been returned.",
                "operationId": "ListSigningPlatforms",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextToken": {
                                            "description": "Value for specifying the next set of paginated results to return.",
                                            "type": "string"
                                        },
                                        "platforms": {
                                            "description": "A list of all platforms that match the request parameters.",
                                            "items": {
                                                "description": "Contains information about the signing configurations and parameters that is used to perform an AWS Signer job.",
                                                "properties": {
                                                    "category": {
                                                        "description": "The category of an AWS Signer platform.",
                                                        "enum": [
                                                            "AWSIoT"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "displayName": {
                                                        "description": "The display name of an AWS Signer platform.",
                                                        "type": "string"
                                                    },
                                                    "maxSizeInMB": {
                                                        "description": "The maximum size (in MB) of code that can be signed by a AWS Signer platform.",
                                                        "type": "integer"
                                                    },
                                                    "partner": {
                                                        "description": "Any partner entities linked to an AWS Signer platform.",
                                                        "type": "string"
                                                    },
                                                    "platformId": {
                                                        "description": "The ID of an AWS Signer platform.",
                                                        "type": "string"
                                                    },
                                                    "signingConfiguration": {
                                                        "description": "The configuration of an AWS Signer platform. This includes the designated hash algorithm and encryption algorithm of a signing platform.",
                                                        "properties": {
                                                            "encryptionAlgorithmOptions": {
                                                                "description": "The encryption algorithm options that are available for an AWS Signer job.",
                                                                "properties": {
                                                                    "allowedValues": {
                                                                        "description": "The set of accepted encryption algorithms that are allowed in an AWS Signer job.",
                                                                        "items": {
                                                                            "enum": [
                                                                                "RSA",
                                                                                "ECDSA"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "defaultValue": {
                                                                        "description": "The default encryption algorithm that is used by an AWS Signer job.",
                                                                        "enum": [
                                                                            "RSA",
                                                                            "ECDSA"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "allowedValues",
                                                                    "defaultValue"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "hashAlgorithmOptions": {
                                                                "description": "The hash algorithm options that are available for an AWS Signer job.",
                                                                "properties": {
                                                                    "allowedValues": {
                                                                        "description": "The set of accepted hash algorithms allowed in an AWS Signer job.",
                                                                        "items": {
                                                                            "enum": [
                                                                                "SHA1",
                                                                                "SHA256"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "defaultValue": {
                                                                        "description": "The default hash algorithm that is used in an AWS Signer job.",
                                                                        "enum": [
                                                                            "SHA1",
                                                                            "SHA256"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "allowedValues",
                                                                    "defaultValue"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        },
                                                        "required": [
                                                            "encryptionAlgorithmOptions",
                                                            "hashAlgorithmOptions"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "signingImageFormat": {
                                                        "description": "The signing image format that is used by an AWS Signer platform.",
                                                        "properties": {
                                                            "defaultFormat": {
                                                                "description": "The default format of an AWS Signer signing image.",
                                                                "enum": [
                                                                    "JSON"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "supportedFormats": {
                                                                "description": "The supported formats of an AWS Signer signing image.",
                                                                "items": {
                                                                    "enum": [
                                                                        "JSON"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "supportedFormats",
                                                            "defaultFormat"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "target": {
                                                        "description": "The types of targets that can be signed by an AWS Signer platform.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/signing-platforms/{platformId}": {
            "get": {
                "description": "Returns information on a specific signing platform.",
                "operationId": "GetSigningPlatform",
                "parameters": [
                    {
                        "in": "path",
                        "name": "platformId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "category": {
                                            "description": "The category type of the target signing platform.",
                                            "enum": [
                                                "AWSIoT"
                                            ],
                                            "type": "string"
                                        },
                                        "displayName": {
                                            "description": "The display name of the target signing platform.",
                                            "type": "string"
                                        },
                                        "maxSizeInMB": {
                                            "description": "The maximum size (in MB) of the payload that can be signed by the target platform.",
                                            "type": "integer"
                                        },
                                        "partner": {
                                            "description": "A list of partner entities that use the target signing platform.",
                                            "type": "string"
                                        },
                                        "platformId": {
                                            "description": "The ID of the target signing platform.",
                                            "type": "string"
                                        },
                                        "signingConfiguration": {
                                            "description": "A list of configurations applied to the target platform at signing.",
                                            "properties": {
                                                "encryptionAlgorithmOptions": {
                                                    "description": "The encryption algorithm options that are available for an AWS Signer job.",
                                                    "properties": {
                                                        "allowedValues": {
                                                            "description": "The set of accepted encryption algorithms that are allowed in an AWS Signer job.",
                                                            "items": {
                                                                "enum": [
                                                                    "RSA",
                                                                    "ECDSA"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "defaultValue": {
                                                            "description": "The default encryption algorithm that is used by an AWS Signer job.",
                                                            "enum": [
                                                                "RSA",
                                                                "ECDSA"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "allowedValues",
                                                        "defaultValue"
                                                    ],
                                                    "type": "object"
                                                },
                                                "hashAlgorithmOptions": {
                                                    "description": "The hash algorithm options that are available for an AWS Signer job.",
                                                    "properties": {
                                                        "allowedValues": {
                                                            "description": "The set of accepted hash algorithms allowed in an AWS Signer job.",
                                                            "items": {
                                                                "enum": [
                                                                    "SHA1",
                                                                    "SHA256"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "defaultValue": {
                                                            "description": "The default hash algorithm that is used in an AWS Signer job.",
                                                            "enum": [
                                                                "SHA1",
                                                                "SHA256"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "allowedValues",
                                                        "defaultValue"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "encryptionAlgorithmOptions",
                                                "hashAlgorithmOptions"
                                            ],
                                            "type": "object"
                                        },
                                        "signingImageFormat": {
                                            "description": "The format of the target platform's signing image.",
                                            "properties": {
                                                "defaultFormat": {
                                                    "description": "The default format of an AWS Signer signing image.",
                                                    "enum": [
                                                        "JSON"
                                                    ],
                                                    "type": "string"
                                                },
                                                "supportedFormats": {
                                                    "description": "The supported formats of an AWS Signer signing image.",
                                                    "items": {
                                                        "enum": [
                                                            "JSON"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "required": [
                                                "supportedFormats",
                                                "defaultFormat"
                                            ],
                                            "type": "object"
                                        },
                                        "target": {
                                            "description": "The validation template that is used by the target signing platform.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/signing-profiles": {
            "get": {
                "description": "Lists all available signing profiles in your AWS account. Returns only profiles with an <code>ACTIVE</code> status unless the <code>includeCanceled</code> request field is set to <code>true</code>. If additional jobs remain to be listed, AWS Signer returns a <code>nextToken</code> value. Use this value in subsequent calls to <code>ListSigningJobs</code> to fetch the remaining values. You can continue calling <code>ListSigningJobs</code> with your <code>maxResults</code> parameter and with new values that AWS Signer returns in the <code>nextToken</code> parameter until all of your signing jobs have been returned.",
                "operationId": "ListSigningProfiles",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "nextToken": {
                                            "description": "Value for specifying the next set of paginated results to return.",
                                            "type": "string"
                                        },
                                        "profiles": {
                                            "description": "A list of profiles that are available in the AWS account. This includes profiles with the status of <code>CANCELED</code> if the <code>includeCanceled</code> parameter is set to <code>true</code>.",
                                            "items": {
                                                "description": "Contains information about the ACM certificates and AWS Signer configuration parameters that can be used by a given AWS Signer user.",
                                                "properties": {
                                                    "platformId": {
                                                        "description": "The ID of a platform that is available for use by a signing profile.",
                                                        "type": "string"
                                                    },
                                                    "profileName": {
                                                        "description": "The name of the AWS Signer profile.",
                                                        "maxLength": 20,
                                                        "minLength": 2,
                                                        "pattern": "^[a-zA-Z0-9_]{2,}",
                                                        "type": "string"
                                                    },
                                                    "signingMaterial": {
                                                        "description": "The ACM certificate that is available for use by a signing profile.",
                                                        "properties": {
                                                            "certificateArn": {
                                                                "description": "The Amazon Resource Name (ARN) of the certificates that is used to sign your code.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "certificateArn"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "signingParameters": {
                                                        "description": "The parameters that are available for use by an AWS Signer user.",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "status": {
                                                        "description": "The status of an AWS Signer profile.",
                                                        "enum": [
                                                            "Active",
                                                            "Canceled"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/signing-profiles/{profileName}": {
            "delete": {
                "description": "Changes the state of an <code>ACTIVE</code> signing profile to <code>CANCELED</code>. A canceled profile is still viewable with the <code>ListSigningProfiles</code> operation, but it cannot perform new signing jobs, and is deleted two years after cancelation.",
                "operationId": "CancelSigningProfile",
                "parameters": [
                    {
                        "in": "path",
                        "name": "profileName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "Returns information on a specific signing profile.",
                "operationId": "GetSigningProfile",
                "parameters": [
                    {
                        "in": "path",
                        "name": "profileName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "overrides": {
                                            "description": "A list of overrides applied by the target signing profile for signing operations.",
                                            "properties": {
                                                "signingConfiguration": {
                                                    "description": "A signing configuration that overrides the default encryption or hash algorithm of a signing job.",
                                                    "properties": {
                                                        "encryptionAlgorithm": {
                                                            "description": "A specified override of the default encryption algorithm that is used in an AWS Signer job.",
                                                            "enum": [
                                                                "RSA",
                                                                "ECDSA"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "hashAlgorithm": {
                                                            "description": "A specified override of the default hash algorithm that is used in an AWS Signer job.",
                                                            "enum": [
                                                                "SHA1",
                                                                "SHA256"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "platformId": {
                                            "description": "The ID of the platform that is used by the target signing profile.",
                                            "type": "string"
                                        },
                                        "profileName": {
                                            "description": "The name of the target signing profile.",
                                            "maxLength": 20,
                                            "minLength": 2,
                                            "pattern": "^[a-zA-Z0-9_]{2,}",
                                            "type": "string"
                                        },
                                        "signingMaterial": {
                                            "description": "The ARN of the certificate that the target profile uses for signing operations.",
                                            "properties": {
                                                "certificateArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the certificates that is used to sign your code.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "certificateArn"
                                            ],
                                            "type": "object"
                                        },
                                        "signingParameters": {
                                            "description": "A map of key-value pairs for signing operations that is attached to the target signing profile.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "status": {
                                            "description": "The status of the target signing profile.",
                                            "enum": [
                                                "Active",
                                                "Canceled"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "Creates a signing profile. A signing profile is an AWS Signer template that can be used to carry out a pre-defined signing job. For more information, see <a href=\"http://docs.aws.amazon.com/signer/latest/developerguide/gs-profile.html\">http://docs.aws.amazon.com/signer/latest/developerguide/gs-profile.html</a> ",
                "operationId": "PutSigningProfile",
                "parameters": [
                    {
                        "in": "path",
                        "name": "profileName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "arn": {
                                            "description": "The Amazon Resource Name (ARN) of the signing profile created.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "overrides": {
                                        "description": "A subfield of <code>platform</code>. This specifies any different configuration options that you want to apply to the chosen platform (such as a different <code>hash-algorithm</code> or <code>signing-algorithm</code>).",
                                        "properties": {
                                            "signingConfiguration": {
                                                "description": "A signing configuration that overrides the default encryption or hash algorithm of a signing job.",
                                                "properties": {
                                                    "encryptionAlgorithm": {
                                                        "description": "A specified override of the default encryption algorithm that is used in an AWS Signer job.",
                                                        "enum": [
                                                            "RSA",
                                                            "ECDSA"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "hashAlgorithm": {
                                                        "description": "A specified override of the default hash algorithm that is used in an AWS Signer job.",
                                                        "enum": [
                                                            "SHA1",
                                                            "SHA256"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "platformId": {
                                        "description": "The ID of the signing profile to be created.",
                                        "type": "string"
                                    },
                                    "signingMaterial": {
                                        "description": "The AWS Certificate Manager certificate that will be used to sign code with the new signing profile.",
                                        "properties": {
                                            "certificateArn": {
                                                "description": "The Amazon Resource Name (ARN) of the certificates that is used to sign your code.",
[...]
